<!-- 导航条区域 Begin -->
<ion-header>
    <ion-navbar color="orange">
        <ion-title>搜索结果</ion-title>
    </ion-navbar>
</ion-header>
<!-- 导航条区域 End -->

<!-- 页面内容区域 Begin -->
<ion-content no-padding>
    <!-- 下拉刷新控制元素Begin -->
    <ion-refresher (ionRefresh)="downRefresh($event,reqUrl,sendData)">
        <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在加载">
        </ion-refresher-content>
    </ion-refresher>
    <!-- 下拉刷新控制元素End -->
    <div class="">
        <div class="bgcF5F7F6">
            <div class="pt0 pb0">
                <div class="w100p bgcFFF mb10" *ngFor="let x of dataList;let i = index;">
                    <ion-card no-padding>
                        <ion-card-header>
                            <div class="disFlex justConSB">
                                <div>
                                    <span>姓名：{{x?.name}}</span>
                                </div>
                                <div>
                                    <span>标签:</span>
                                    <span class="colorPri" *ngIf="x?.nfcNo">{{x?.nfcNo}}</span>
                                    <span class="colorPri" *ngIf="!x?.nfcNo">无</span>
                                </div>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <div class="disFlex justConSB">
                                <div>
                                    <span>街道：{{x?.street?.areaName}}</span>
                                </div>
                                <div>
                                    <span>社区：{{x?.community?.areaName}}</span>
                                </div>
                            </div>
                            <div>
                                <span>地址：{{x?.address}}</span>
                            </div>
                            <ion-row no-padding align-items-center>
                                <ion-col col-12 no-padding text-right>
                                    <button ion-button small color="orange" *ngIf="!x?.nfcNo" (click)="jumpPage('AddMacPage',{'id':x.id})">写入标签</button>
                                    <button ion-button small color="orange" *ngIf="x?.nfcNo" (click)="jumpPage('AddMacPage',{'id':x.id})">重写标签</button>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                    <!-- <div class="h30 w100p">
                        <div class="disFlex h30">
                            <div class="disFlex aligIteC">
                                <div>
                                    <span class="ftz16">{{x.name}}({{x.createDate | date:'yyyy-MM-dd HH:mm'}} {{x.timeFrame}})</span>
                                </div>
                            </div>
                            <div class="flexGrow1 disFlex aligIteC flexDirRR pr10">
                                <div>
                                    <span class="ftz16 colorPri" *ngIf="!x.isPin">未销样</span>
                                    <span class="ftz16 colorSec" *ngIf="x.isPin">已销样</span>
                                </div>
                            </div>
                            <div class="w20 disFlex aligIteC justConC">
                                <div>
                                    <ion-icon class="ftz30 color999" name="ios-arrow-forward"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- 上拉加载控制元素Begin -->
    <ion-infinite-scroll (ionInfinite)="upLoad($event,reqUrl,sendData)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-row class="" [hidden]="!isShowNoData" padding-bottom>
        <ion-col col-12 text-center>
            <span class="ftz16">没有更多数据</span>
        </ion-col>
    </ion-row>
    <!-- 上拉加载控制元素End -->
</ion-content>
<!-- 页面内容区域 End -->