<!-- 导航条区域 Begin -->
<ion-header>
    <ion-navbar color="main" hideBackButton="true">
        <ion-title>留样详情</ion-title>
        <ion-buttons start>
            <button ion-button class="pl10" (click)="navCtrl.canGoBack()?navCtrl.pop():''">
                <!-- <span color="primary" showWhen="ios">返回</span> -->
                <ion-icon class="ftz30" name="arrow-back" showWhen="android,windows,ios"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button *ngIf="!formInfo?.isPin" ion-button class="pr10" (click)="jumpPage('RetenSampAddPage',{'state':'edit','id':paramId})">
                <span showWhen="android,windows,ios">编辑</span>
                <!-- <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon> -->
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- 导航条区域 End -->

<!-- 页面内容区域 Begin -->
<ion-content no-padding>
    <div>
        <div>
            <div class="pl10 pr10">
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样时间</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.createTime | date:'yyyy-MM-dd HH:mm'}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样时段</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.timeFrame}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样名</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样量</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.reservedAmount}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样人</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.reservedPeople}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">销样人</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.pinPeople}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">销样时间</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.pinTime | date:'yyyy-MM-dd HH:ss'}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">销样照片</span>
                        </div>
                        <div>
                            <span class="ftz16"></span>
                        </div>
                    </div>
                </div>
                <div class="w100p disFlex flexWrapW">
                    <div class="h150 w45p mb10 mr10" *ngFor="let x of imgArr; let i = index;">
                        <img class="w100p h100p" [src]="x">
                    </div>
                </div>
            </div>
            <!-- <div class="w100p pb10">
                <ion-row no-padding>
                    <ion-col col-6 text-center>
                        <button ion-button block color="main">打印</button>
                    </ion-col>
                    <ion-col col-6 text-center>
                        <button ion-button block color="main">销样</button>
                    </ion-col>
                </ion-row>
            </div> -->
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row no-padding justify-content-around>
            <ion-col text-center [ngClass]="{'w90p':formInfo?.isPin,'w50p':!formInfo?.isPin}">
                <button ion-button block color="main" (click)="jumpPage('PrintTagPage',{'id':paramId})">打印</button>
            </ion-col>
            <ion-col *ngIf="!formInfo?.isPin" [ngClass]="{'w50p':!formInfo?.isPin}" text-center>
                <button ion-button block color="main" (click)="pinSample()">销样</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
<!-- 页面内容区域 End -->