page-serv-query {
    .cardBg1 {
        background: linear-gradient(180deg, #5A41FD, #B924FC) !important;
    }
    .cardBg2 {
        background: linear-gradient(90deg, #4897F0, #29DAE9) !important;
    }
    .cardBg3 {
        background: linear-gradient(180deg, #FC16A0, #F8420B) !important;
    }
    .cardBg4 {
        background: linear-gradient(270deg, #AF00FF, #FF64FF) !important;
    }
}