page-compr-query-home {
    .cardBg1 {
        background: linear-gradient(90deg, #43E97B, #38F9D7) !important;
    }
    .cardBg2 {
        background: linear-gradient(90deg, #4FACFE, #00F2FE) !important;
    }
    .cardBg3 {
        background: linear-gradient(180deg, #FC16A0, #F8420B) !important;
    }
    .cardBg4 {
        background: linear-gradient(180deg, #AF00FF, #FF64FF) !important;
    }
}