page-date-ser-modal {
    .contentBg {
        background-color: rgba(0, 0, 0, .7);
    }
    .modalBg1 {
        background: linear-gradient(180deg, #5A41FD, #B924FC) !important;
    }
    .modalBg2 {
        background: linear-gradient(180deg, #4897F0, #29DAE9) !important;
    }
    .modalBg3 {
        background: linear-gradient(180deg, #FC16A0, #F8420B) !important;
    }
    .modalBg4 {
        background: linear-gradient(180deg, #B924FC, #5A41FD) !important;
    }
}