<!-- 导航条区域Begin -->
<ion-header>
    <ion-navbar color="main">
        <ion-title>选择地址</ion-title>
        <!-- <ion-buttons start>
          <button ion-button>
          <span color="primary" showWhen="ios">返回</span>
          <ion-icon name="close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons> -->
        <!-- <ion-buttons end (click)="jumpPage('ConsigneeAddPage',{state:'add'})">
            <button ion-button class="ftz22 w40 tac">
                <ion-icon name="md-add"></ion-icon>
                <span color="primary" showWhen="ios">完成</span>
                <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
    <ion-toolbar no-padding class="posRel">
        <ion-searchbar type="text" mode="ios" [(ngModel)]="serVal" (ionCancel)="serCancel($event)" (ionClear)="serClear($event)" (ionInput)="serInput($event)" (ionBlur)="serBlur($event)" [showCancelButton]="cancelBtn" cancelButtonText="取消" animated="true" placeholder="搜索附近位置"></ion-searchbar>
        <div class="posAbs w100p bgcFFF zIndex1" *ngIf="serAddArrShow">
            <div class="w100p pl5 pr5 maxH300 overflowY pb10">
                <div class="w100p bgcFFF" *ngFor="let x of serAddArr;let i = index;" (tap)="selSerAdd(x)">
                    <div class="w100p borBBox">
                        <div class="w100p h40 pl5 disFlex flexDirC justConSA">
                            <div class="disFlex justConSB">
                                <div>
                                    <span class="ftz16 color555">{{x.title}}</span>
                                </div>
                                <div>
                                    <span class="color999">{{x.distance}}m</span>
                                </div>
                            </div>
                            <div class="w100p txtEll">
                                <span class="color999">{{x.address}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w100p h250">
            <baidu-map #baiduMap></baidu-map>
        </div>
    </ion-toolbar>
</ion-header>
<!-- 导航条区域End -->

<!-- 页面内容区域Begin -->
<ion-content>
    <div class="w100p bgcFFF p10" *ngFor="let x of addDataList;let i = index;">
        <div class="w100p borBBox">
            <div class="w100p h50 disFlex flexDirC justConSA">
                <div class="disFlex justConSB">
                    <div>
                        <span class="ftz16 color555">{{x.title}}</span>
                    </div>
                    <div>
                        <span class="color999">{{x.distance}}m</span>
                    </div>
                </div>
                <div class="w100p txtEll">
                    <span class="color999">{{x.address}}</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<!-- 页面内容区域End -->