$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: (primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, gray:(base:#434551, contrast: #ffffff), orange:(base:#FE8127, contrast: #ffffff), main: (base: #0388FE, contrast: #ffffff));
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
@import "iconfont"; // 阿里图标
@import "base"; // 自定义基础标签样式初始化文件
@import "common"; // 自定义公共样式文件
@import "./node_modules/animatewithsass/animate.scss"; // 公共动画库
$alert-ios-message-font-size:16px; // 弹出Alert框的消息字体大小