page-service-config {
    .iconBg1 {
        background: linear-gradient(120deg, #7C67FF, #CB5AFF) !important;
    }
    .iconBg2 {
        background: linear-gradient(180deg, #4897F0, #29DAE9) !important;
    }
    .iconBg3 {
        background: linear-gradient(300deg, #FF5AB4, #FC4677) !important;
    }
}