<!-- 导航条区域 Begin -->
<ion-header>
    <ion-navbar color="orange" hideBackButton="true">
        <ion-title>服务配置</ion-title>
        <ion-buttons start>
            <button ion-button class="pl10" (click)="backHome()">
                <!-- <span color="primary" showWhen="ios">返回</span> -->
                <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button class="pr10" (click)="navCtrl.canGoBack()?navCtrl.pop():''">
                <span showWhen="android,windows,ios">返回</span>
                <!-- <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon> -->
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- 导航条区域 End -->

<!-- 页面内容区域 Begin -->
<ion-content>
    <div>
        <div>
            <div>
                <div class="mt15 h150 w100p borBox posRel" *ngFor="let x of formInfo;let i = index;" (click)="gotoConfigList({id:x.id})">
                    <div class="posAbs zIndex1 w100p h100p">
                        <div class="h100p disFlex">
                            <div class=" h100p flexGrow1">
                                <div class="h100p w100p borSD2BDB3 pl10 disFlex aligIteC" [ngClass]="{'iconBg1': i%3 == 0, 'iconBg2': i%3 == 1, 'iconBg3': i%3 == 2}">
                                    <div class="h60 disFlex flexDirC justConSB">
                                        <div>
                                            <span class="colorFFF ftz24">{{x.dictLabel}}</span>
                                        </div>
                                        <div>
                                            <span class="colorFFF">
                                                <span *ngFor="let y of x.childList;let j = index;">{{y.dictLabel}}&nbsp;</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h100p w150 borBox">
                                <div class="w100p h100p disFlex justConC aligIteC">
                                    <img class="h100p" [src]="baseImgUrl + x.extend?.extendS1">
                                    <!-- <i class="iconfont icon-WuTu ftz120 colorCCC"></i> -->
                                </div>
                                <!-- <img class="h100p w100p" src="https://via.placeholder.com/160"> -->
                            </div>
                        </div>
                    </div>
                    <div class="posAbs zIndex2 h100p disFlex aligIteC r125">
                        <div class="w50 h50 bgcFFF borRadius50p bor3SE3E3E3 disFlex justConC aligIteC">
                            <!-- <i class="iconfont icon-Gift ftz30"></i> -->
                            <svg class="colourIcon ftz34" aria-hidden="true">
                                <use xlink:href="#icon-Gift"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- <div class="mt10 h150 w100p borBox posRel">
                    <div class="posAbs zIndex1 w100p h100p">
                        <div class="h100p disFlex">
                            <div class="pt10 pb10 flexGrow1">
                                <div class="h100p w100p bgcEBFFF5 borDEF0E7 pl10 disFlex aligIteC">
                                    <div class="h60 disFlex flexDirC justConSB">
                                        <div>
                                            <span class="color666 ftz24">健康系统</span>
                                        </div>
                                        <div>
                                            <span class="color999">助医 助浴</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h100p w150 borBox">
                                <div class="w100p h100p disFlex justConC aligIteC">
                                    <i class="iconfont icon-WuTu ftz120 colorCCC"></i> </div>
                            </div>
                        </div>
                    </div>
                    <div class="posAbs zIndex2 h100p disFlex aligIteC r125">
                        <div class="w50 h50 bgcFFF borRadius50p bor3SE3E3E3 disFlex justConC aligIteC">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-Gift"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="mt10 h150 w100p borBox posRel">
                    <div class="posAbs zIndex1 w100p h100p">
                        <div class="h100p disFlex">
                            <div class="pt10 pb10 flexGrow1">
                                <div class="h100p w100p bgcCCF5FF borB7D8E0 pl10 disFlex aligIteC">
                                    <div class="h60 disFlex flexDirC justConSB">
                                        <div>
                                            <span class="color666 ftz24">快乐系统</span>
                                        </div>
                                        <div>
                                            <span class="color999">助聊 助乐 助学</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h100p w150 borBox">
                                <div class="w100p h100p disFlex justConC aligIteC">
                                    <i class="iconfont icon-WuTu ftz120 colorCCC"></i> </div>
                            </div>
                        </div>
                    </div>
                    <div class="posAbs zIndex2 h100p disFlex aligIteC r125">
                        <div class="w50 h50 bgcFFF borRadius50p bor3SE3E3E3 disFlex justConC aligIteC">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-Gift"></use>
                            </svg>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</ion-content>
<!-- 页面内容区域 End -->