html,
body.transparent-body,
.transparent-body,
.transparent-body ion-app,
.transparent-body .app-root,
.transparent-body ion-nav,
.transparent-body .ion-page,
.transparent-body .nav-decor,
.transparent-body ion-content,
.transparent-body .viewscan,
.transparent-body .fixed-content,
.transparent-body .scroll-content {
    background-color: transparent !important;
    background: transparent !important;
}

ion-app.cameraView,
ion-app.cameraView ion-content,
ion-app.cameraView .nav-decor {
    background: transparent none !important;
    .tabbar.show-tabbar {
        opacity: 0;
    }
}