<!-- 导航条区域 Begin -->
<ion-header>
    <ion-navbar color="orange" hideBackButton="true">
        <ion-title>用户信息</ion-title>
        <ion-buttons start>
            <button ion-button class="pl10" (click)="backHome()">
                <!-- <span color="primary" showWhen="ios">返回</span> -->
                <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button class="pr10" (click)="navCtrl.canGoBack()?navCtrl.pop():''">
                <span showWhen="android,windows,ios">返回</span>
                <!-- <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon> -->
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- 导航条区域 End -->

<!-- 页面内容区域 Begin -->
<ion-content>
    <!-- 下拉刷新控制元素Begin -->
    <!-- <ion-refresher (ionRefresh)="downRefresh($event,reqUrl,sendData)">
        <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在加载">
        </ion-refresher-content>
    </ion-refresher> -->
    <!-- 下拉刷新控制元素End -->
    <div class="bgcEEE">
        <div class="p10">
            <div class="w100p h210 borRadius10 p10 cardBg mb10" *ngFor="let x of dataList;let i = index;" (click)="jumpPage('UserDetailPage',{id:x.userID})">
                <div class="w100p h100p posRel">
                    <div class="disFlex aligIteC">
                        <div class="w40 h40 borSDBDFE6 bgcFFF">
                            <div class="h100p w100p disFlex justConC aligIteC" [hidden]="(x?.sex == 1)">
                                <svg class="colourIcon ftz50" aria-hidden="true">
                                    <use xlink:href="#icon-Head2"></use>
                                </svg>
                            </div>
                            <div class="h100p w100p disFlex justConC aligIteC" [hidden]="!(x?.sex == 1)">
                                <svg class="colourIcon ftz50" aria-hidden="true">
                                    <use xlink:href="#icon-Head1"></use>
                                </svg>
                            </div>
                            <!-- <img class="h100p w100p" src="https://via.placeholder.com/40"> -->
                        </div>
                        <div class="ml10">
                            <span class="ftz20 colorFFF">{{x?.userName}}</span>
                        </div>
                        <div class="ml30">
                            <span class="ftz18">{{x?.userCode}}</span>
                        </div>
                    </div>
                    <div class="mt10 pl10">
                        <div>
                            <span>时长信息</span>
                        </div>
                        <div class="disFlex mt5">
                            <div>
                                <span class="ftz14 colorFFF">应服务：{{x?.homeArchiveWorktime?.appWorkTimeTotal | defaultNumState | number:'1.2-2'}}&nbsp;分钟</span>
                            </div>
                            <div class="ml20">
                                <span class="ftz14 colorFFF">剩余时长：{{x?.homeArchiveWorktime?.appWorkTimeRest | defaultNumState | number:'1.2-2'}}&nbsp;分钟</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt10 pl10">
                        <div>
                            <span>金额信息</span>
                        </div>
                        <div class="disFlex mt5">
                            <div>
                                <span class="ftz14 colorFFF">服务金额：{{x?.homeArchiveWorktime?.appWorkMoneyTotal | defaultNumState | number:'1.2-2'}}&nbsp;元</span>
                            </div>
                            <div class="ml20">
                                <span class="ftz14 colorFFF">剩余金额：{{x?.homeArchiveWorktime?.appWorkMoneyRest | defaultNumState | number:'1.2-2'}}&nbsp;元</span>
                            </div>
                        </div>
                    </div>
                    <div class="posAbs b0 tac w100p">
                        <span>{{x?.station}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *ngFor="let x of dataList;let i = index;" -->
    <!-- <ion-card class="cardBg" >
        <ion-card-header class="p5 pb0">
            <span class="ftz24">{{i+1}}.{{x.consigneeName}}</span>
        </ion-card-header>
        <ion-card-content class="p5">
            <div class="disFlex justConFS aligIteFS color262127">
                <div class="flexShrink0 flexBasis40 ftz16">电话:</div>
                <div class="ftz16">{{x.consigneePhone}}</div>
            </div>
            <div class="disFlex justConFS aligIteFS color262127">
                <div class="flexShrink0 flexBasis40 ftz16">地址:</div>
                <div class="ftz16">{{x.consigneeAddress}}</div>
            </div>
        </ion-card-content>
        <div class="borTBox">
            <ion-row>
                <ion-col no-padding text-center>
                    <button ion-button icon-start clear small class="ftz16 colorFFF" (click)="clickDelBtn(x.id,dataList,i)">
                        <ion-icon name="trash"></ion-icon>
                        <div>删除</div>
                    </button>
                </ion-col>
                <ion-col no-padding text-center>
                    <button ion-button icon-start clear small class="ftz16 colorFFF" (click)="jumpPage('ConsigneeAddPage',{state:'edit',id:x.id})">
                        <ion-icon name="create"></ion-icon>
                        <div>编辑</div>
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </ion-card> -->

    <!-- 上拉加载控制元素Begin -->
    <!-- <ion-infinite-scroll (ionInfinite)="upLoad($event,reqUrl,sendData)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-row [hidden]="!isShowNoData" padding-bottom>
        <ion-col col-12 text-center>
            <span class="ftz16">没有更多数据</span>
        </ion-col>
    </ion-row> -->
    <!-- 上拉加载控制元素End -->
</ion-content>
<!-- 页面内容区域 End -->