page-stai-detail {
    .cardBg1 {
        background: linear-gradient(90deg, #3ED1F5, #3ED1F5) !important;
    }
    .cardBg2 {
        background: linear-gradient(90deg, #4FACFE, #00F2FE) !important;
    }
    .cardBg3 {
        background: linear-gradient(180deg, #AF00FF, #FF64FF) !important;
    }
    .cardBg4 {
        background: linear-gradient(90deg, #7C00FF, #551CFA) !important;
    }
    .cardBg5 {
        background: linear-gradient(90deg, #1C0FFC, #0F67F5) !important;
    }
    .cardBg6 {
        background: linear-gradient(90deg, #0036E3, #2495FF) !important;
    }
}