<!-- 导航条区域 Begin -->
<ion-header class="posRel">
    <ion-navbar color="main" hideBackButton="true">
        <ion-title>打印详情</ion-title>
        <ion-buttons start>
            <button ion-button class="pl10" (click)="navCtrl.canGoBack() ? navCtrl.pop() : ''">
                <!-- <span color="primary" showWhen="ios">返回</span> -->
                <ion-icon class="ftz30" name="arrow-back" showWhen="android,windows,ios"></ion-icon>
            </button>
        </ion-buttons>
        <!-- <ion-buttons end>
            <button ion-button class="pr10" (click)="navCtrl.canGoBack()?navCtrl.pop():''">
                <span showWhen="android,windows,ios">返回</span>
                <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
    <!-- 遮罩内容区域 Begin -->
    <div class="posAbs zIndex110 t0 l0 w100p h100p maskBg" *ngIf="isShowBox" (click)="toggleShowBox()"></div>
    <!-- 遮罩内容区域 End -->
</ion-header>
<!-- 导航条区域 End -->

<!-- 页面内容区域 Begin -->
<ion-content no-padding>
    <!-- 遮罩内容区域 Begin -->
    <div class="posAbs zIndex110 t0 l0 w100p h100p maskBg disFlex justConC aligIteC" *ngIf="isShowBox" (click)="toggleShowBox()">
        <div class="w80p h290 bgc000 borRadius6 borSDBDFE6 boxSha">
            <div class="w100p h100p borRadius6 p10 posRel">
                <div class="w100p h260 overflowS pb20">
                    <div class="h50 w100p disFlex flexDirC justConSA" [ngClass]="{ borBSCCC: !(i == bleObjArr.length - 1) }" *ngFor="let x of (bleObjArr | orderBy: false:'name'); let i = index" (click)="clickConnect(x.name, x.address)">
                        <div>
                            <span class="colorFFF ftz16" *ngIf="x?.name">{{ i + 1 }}、{{ x?.name }}</span>
                            <span class="colorFFF ftz16" *ngIf="!x?.name">{{ i + 1 }}、未知设备</span>
                        </div>
                        <div>
                            <span class="colorFFF ftz14">{{ x?.address }}</span>
                        </div>
                    </div>
                </div>
                <div class="w100p h30 disFlex aligIteC posAbs b0 l0 pl10 bgcFFF">
                    <div class="h30 w100p disFlex aligIteC" *ngIf="isScaning">
                        <span class="">正在扫描</span>
                        <ion-spinner mode="ios" class="ftz10" name="dots"></ion-spinner>
                    </div>
                    <div class="h30 w100p disFlex aligIteC justConSB" *ngIf="!isScaning">
                        <span class="">扫描完成</span>
                        <button ion-button small color="main" (click)="scanDevice($event)">重新扫描</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 遮罩内容区域 End -->
    <div>
        <div>
            <div class="pl10 pr10">
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样时间</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.createTime | date: "yyyy-MM-dd HH:mm"}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样时段</span>
                        </div>
                        <div>
                            <span class="ftz16">{{ formInfo?.timeFrame }}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样名</span>
                        </div>
                        <div>
                            <span class="ftz16">{{ formInfo?.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样量</span>
                        </div>
                        <div>
                            <span class="ftz16">{{ formInfo?.reservedAmount }}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">留样人</span>
                        </div>
                        <div>
                            <span class="ftz16">{{ formInfo?.reservedPeople }}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">销样人</span>
                        </div>
                        <div>
                            <span class="ftz16">{{ formInfo?.pinPeople }}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">销样时间</span>
                        </div>
                        <div>
                            <span class="ftz16">{{formInfo?.pinTime | date: "yyyy-MM-dd HH:ss"}}</span>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">打印机状态：</span>
                            <span class="ftz16 colorDan" *ngIf="!isConnected">未连接</span>
                            <span class="ftz16 colorSec" *ngIf="isConnected">已连接</span>
                        </div>
                        <div>
                            <button ion-button small color="main" *ngIf="isConnected" (click)="closeConnect()">断开连接</button>
                            <button ion-button small color="main" *ngIf="!isConnected" (click)="clickConnect()">点击连接</button>
                        </div>
                    </div>
                </div>
                <div class="h50 borBBox" *ngIf="isConnected">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">打印机名称：</span>
                            <span class="ftz16 colorPri">{{bleDevName}}</span>
                        </div>
                        <div></div>
                    </div>
                </div>
                <!-- <div class="h50 borBBox">
                    <div class="h100p disFlex justConSB aligIteC">
                        <div>
                            <span class="ftz16">销样照片</span>
                        </div>
                        <div>
                            <span class="ftz16"></span>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="w100p disFlex flexWrapW">
                    <div class="h150 w45p mb10 mr10" *ngFor="let x of imgArr; let i = index;">
                        <img class="w100p h100p" [src]="x">
                    </div>
                </div> -->
            </div>
            <!-- <div class="w100p pb10">
              <ion-row no-padding>
                  <ion-col col-6 text-center>
                      <button ion-button block color="main">打印</button>
                  </ion-col>
                  <ion-col col-6 text-center>
                      <button ion-button block color="main">销样</button>
                  </ion-col>
              </ion-row>
          </div> -->
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row no-padding justify-content-around>
            <ion-col text-center class="w90p">
                <button ion-button block color="main" [disabled]="!isConnected" (click)="printContent()">开始打印</button>
            </ion-col>
            <!-- <ion-col *ngIf="!formInfo?.isPin" [ngClass]="{'w50p':!formInfo?.isPin}" text-center>
                <button ion-button block color="main" (click)="pinSample()">销样</button>
            </ion-col> -->
        </ion-row>
    </ion-toolbar>
    <!-- 遮罩内容区域 Begin -->
    <div class="posAbs zIndex110 t0 l0 w100p h100p maskBg" *ngIf="isShowBox" (click)="toggleShowBox()"></div>
    <!-- 遮罩内容区域 End -->
</ion-footer>
<!-- 页面内容区域 End -->